!!!

%html
	%head
		%link{:rel => "stylesheet", :href => "/css/prn.css", :type => "text/css"}
	%body
		%div#container
			%div.loginform
				%form{:action => "/login", :method => "post"}
					%p.loginrow
						%label{:for => "login"}
						%input.login_input{:type => "text", :name => "login", :class => "loginfield", :placeholder => "Login"}
					%p.loginrow
						%label{:for => "password"}
						%input.login_input{:type => "password", :name => "password", :class => "passwordfield", :placeholder => "Password"}
					%button{:type => "submit", :value => "login", :class => "loginbtn"} Login