!!!

%html
	%head
		%link{:rel => "stylesheet", :href => "/css/bootstrap.css", :type => "text/css"}
	%body
		.container
			%form.form-signin{:action => "/login", :method => "post"}
				%h3.form-signin-heading= "Log in to JC"
				%p.loginrow
					%label{:for => "login"}
					%input.form-control{:type => "text", :name => "login", :placeholder => "Login", :required => true, :autofocus => true}
				%p.loginrow
					%label{:for => "password"}
					%input.form-control{:type => "password", :name => "password", :placeholder => "Password"}
				%button.btn.btn-lg.btn-primary.btn-block{:type => "submit", :value => "login"} Login