!!!
%html
	%head
		%link{:rel => :stylesheet, :type => :"text/css", :href => "/css/bootstrap.css"}
	%body
		.container
			.row
				.col-md-4
					%p.header= 'Pulls'
				.col-md-4.col-md-offset-4
					%p= "welcome, " + locals[:login]
					%p
						%a{:href=> "/logout"} Logout
			.row
				.col-md-12
					= haml :pulls_table, :locals => locals