!!!
%html
	%head
		%link{:rel => :stylesheet, :type => :"text/css", :href => "/css/bootstrap.css"}
		%title= locals[:version]
	%body
		= haml :navbar, :locals => {:version => locals[:version], :active_requests => true}
		.container
			.row
				.col-md-10.col-md-offset-1
					= haml :pulls_table, :locals => locals