!!!
%html
	%head
		%link{:rel => :stylesheet, :type => :"text/css", :href => "/css/bootstrap.css"}
		%title= locals[:version]
	%body
		%nav.navbar.navbar-static-top.navbar-inverse
			.container
				.navbar-header
					%span.navbar-brand= 'JC v. ' + locals[:version]
				.navbar-collapse.collapse
					%ul.nav.navbar-nav.navbar-right
						%li
							%a{:href => "/logout"} Log out
		.container
			.row
				.col-md-12
					= haml :pulls_table, :locals => locals