%html

	%body
	- if locals[:success]
		%p= "Пулл-реквест " + locals[:url] + " принят. Комментарии можно посмотреть по ссылке."
	- else
		%p= "Пулл-реквест " + locals[:url] + " отклонен. Комментарии можно посмотреть по ссылке."
		