%html

	%body
		%h3= "Пользователь " + locals[:login] + " добавлен в систему janechecks"
		%p= "Теперь можно сдавать лабораторные работы."
		%p
			%a{:href => "http://lab.mtudev.ru/pull-request.html"} Как сдать лабораторную?